@font-face {
font-family: FreedomFont;
src: url("..\\public\\FreedomFont.ttf");
}
@font-face {
font-family: AstroSpace;
src: url("..\\public\\AstroSpace.ttf");
}
@font-face {
font-family: MayaCulpa;
src: url("..\\public\\MayaCulpa.ttf");
}

.Footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0, 20, 55, 0.75);
background-image: linear-gradient(to right, rgba(0, 40, 90, 0.50), rgba(0, 20, 55, 0.70), rgba(0, 73, 82, 0.50));
color: rgb(20, 190, 240);
border-top: 1px solid rgb(35, 112, 255, 0.6);
text-align: center;
font-style: italic;
max-height: fit-content;
min-height: 2rem;
filter: drop-shadow(0px -2px 4px black);
}
footer{
flex: 1 1 auto;
}
#PyAccess-footer-btn{
font-size: medium;
margin: 0 1vmax;
padding: 2px 2rem;
font-weight: normal;
}

/* --------------MEDIA ONLY------------------ */

@media only screen and (max-width: 300px){
    .Footer{
        font-size: 0.9em;
    }
    #PyAccess-footer-btn{
        font-size: 0.95em;
    }
}
@media only screen and (min-width: 1200px){
    .Footer{
        font-size: 1.15em;
    }
    #PyAccess-footer-btn{
        font-size: 1.05em;
    }
}
@media only screen and (min-width: 1920px){
  .Footer{
    font-size: 1.25em;
  }
  #PyAccess-footer-btn{
    font-size: 1.15em;
  }
}